* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------------------------------- */
/* commmon */
.flex-h {
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

.img-h {
    width: 50px;
    border-radius: 50%;
}

.contact-name {
    font-weight: 400;
}

ul{
    list-style-type: none;
}
header ul {
    display: flex;
    line-height: 50px;
    color: #b1b1b1;
    gap: 15px;
}

li {
    font-size: 20px;
}

li img{
    width: 60px;
    border-radius: 50%;
}

.detail{
    color: grey;
        font-size: 12px;
}
/* ------------------------------------- */
body {
    height: 100vh;
    background: #d9dbd4;
    background: linear-gradient(0deg, #d9dbd4 85%, rgba(0, 168, 132, 1) 85%);
    padding-top: 30px;
    font-family: 'Lato', sans-serif;
}

.container {
    max-width: 80vw;
    height: 95vh;
    background-color: #eaeaea;
    margin: 0 auto;
    display: flex;
}

/* aside style */
aside {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.flex-h>div:first-child {
    display: flex;
    align-items: center;
}

.notifications {
    background-color: #8edafc;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.notifications i {
    color: #8edafc;
    font-size: 20px;
    background-color: white;
    border-radius: 50%;
    padding: 15px;
}

.notifications div p {
    text-decoration: underline;
    color: grey;
    font-size: 12px;
}

.contacts {
    flex-grow: 1;
    overflow-y: auto;
    background-color: white;
}

nav{
    display: flex;
    gap: 30px;
    color: #b1b1b1;
    padding: 15px 0;
    padding-left: 45px;
    background-color: white;
}

nav input{
    width: 100%;
    border: none;
    background-color: transparent;
}

.contact{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 15px 15px 30px;
}

.contact > div:first-child{
    display: flex;
    align-items: flex-start;
    gap: 10px;

}
.contact h4{
    font-size: 16px;
    margin-bottom: 5px;
}

.contact-hour{
    align-self: flex-start;
    color: grey;
    font-size: 12px;
}

/* main body style */
div.bodymsg {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.bodymsg header{
    border-left: 1px solid #b1b1b1;
}
.bodymsg main{
    flex-grow: 1;
    background-image: url(../../img/mine.jpg);
    padding: 40px 60px;
}

.msg{
    display:flex;
    padding: 5px;
}

.box{
    max-width: 400px;
    min-width: 250px;
    border-radius: 15px;
    display: flex;
    gap: 10px;
}
.sent{
    margin-left: auto;
    background-color: #d5f9ba;
}
.recived{
    margin-right: auto;
    background-color: white;
}
 .box p{
    flex-grow: 1;
    padding: 10px 30px 10px 10px;
    font-size: 16px;
 }
 .box span{
    font-size: 12px;
    color: #b1b1b1;
    align-self: flex-end;
    padding: 5px;
 }

.bodymsg footer{
    display: flex;
    font-size: 25px;
    padding: 10px 20px;
    align-items: center;
    color: grey;
    gap: 20px;
}

.bodymsg input{
    flex-grow: 1;
    padding: 15px 10px;
    border: none;
    border-radius: 20px;
}